
body {
    background-color: #f4f8ff;
    font-family: Arial, Helvetica, sans-serif;
    height: max-content;
    overflow:hidden;
    margin: 0;
  }
  .Navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: dimgray;
  }
  .Navbar > li{
    display: inline-block;
  }

  .Navbar-link{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .Navbar-link > a{
    text-decoration: none;
    color: white;
    font-size: medium;
  }
  .Navbar-active{
    background-color: black;
  }

  .Homepage{
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Homepage > h1{
    font-size: 100;
  }
  .Homepage > h2{
    font-size: 75;
  }

  .middle-margins{
    display: flexbox;
    margin: 20px 50px;
  }

  
  .content-page{
    background-color: white;
    box-shadow:
      1px 1px 3px rgba(0, 0, 0, 0.05),
      4px 4px 8px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    position: relative;
    padding: 20px;
  }

  .Element{
    border-bottom: 1px solid #f0f4fc;
    color: rgba(0, 0, 0, 0.73);
    font-family: Lato, sans-serif;
    padding: 7px 15px 10px;
    overflow:hidden;
    display: flex;
    -webkit-animation: fadein .3s linear forwards;
    animation: fadein .3s linear forwards;
  }
  .Element:hover{
    background-color: whitesmoke;
  }
  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
      
  @keyframes fadein {
      0% { opacity: 0; }
      100% { opacity: 1; }
  }

  .ElementCode {
    padding: 10px;
    width: 32px;
    height: 32px;
    margin: 3px 7px 0 0;
    text-align: center;
    position: relative;
    justify-content: left;
    font-size: x-large;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border:2px solid black;
  }
  .ElementTextBox{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

  .ElementName{
    margin-top: 15px;
    font-weight: bold;
  }
  .ElementInfo {
    margin-top: 5px;
  }

  .Element-actions {
    display: block;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    padding: 10px;
    height:40%;
    align-self: flex-end;
  }

  .Element-actions > button{
    transition-duration: 0.2ms;
  }

  .Element-actions:hover{
    background-color: crimson;
    color:white;
  }
  
  .Molecule {
    background-color: white;
    box-shadow:
      1px 1px 3px rgba(0, 0, 0, 0.05),
      4px 4px 8px rgba(0, 0, 0, 0.02);
    position: relative;
    padding:10px 15px;
  }
  .Molecule > p{
    border-image-source: rgb(2,0,36);
    font-family: Lato, sans-serif;
  }

  .gradient-bottom{
    border: 2px solid;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(10,3,14,1) 3%, rgba(19,112,120,1) 24%, rgba(255,255,255,1) 38%);
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .MoleculeList{
    transition: all 1s;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 10px;
    white-space: nowrap;
  }

  .MoleculeCard {
    margin: 5px;
    border-radius: 1%;
    background-color:#f4f8ff;
    border-bottom: 2px solid dimgray;
    border-right: 1px solid dimgray;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width:300px;
    display: inline-block;
    overflow-inline: scroll;
    overflow:auto;
    transition: all 0.3s ease-in-out;
  }
  div.MoleculeCard-Front{
    padding: 0px 0px 0px 0px ;
  }
  .MoleculeCard-Wrapper{
    padding: 5px 15px 5px 15px ;
		position: relative ;
    overflow: hidden;
    margin: 5px;
  }
  .MoleculeCard-Wrapper >p{
    z-index: 1;
    position: relative;
  }
  .MoleculeCard-action{
    background-color: #12c8ba;
    color: white;
    cursor: pointer;
    border: none;
    position: relative;
    z-index: 1;
  }
  .MoleculeCard:hover{
    background-color: white;
    box-shadow:
    4px 4px 15px 0px rgba(0,0,0,0.4),
      4px 4px 8px rgba(0, 0, 0, 0.02);
  }

  .MoleculeCardPreview{
    position: absolute;
    z-index: 0;
    width: 300px;
    top: 0px;
    right: -150px;
    /* overflow: hidden; */
    padding:1px;
  }

  .MoleculeCardPreview > img{
    object-fit:cover;
  }

  .mol-background {
    background: transparent;
    height: auto;
    width:100%;
    overflow:hidden;
  }
  .mol-background > p{
    background: transparent;
    height: auto;
    width:100%;
    overflow:hidden;
    text-align: center;
  }
  
  .mol-background::before{
    -webkit-animation: rotation 60s infinite ease;
    animation: rotation 60s infinite ease;
    opacity: 50%;
    content: '';
    background: url(/molecule/hp.svg) no-repeat fixed center center / 100% auto rgba(0, 0, 0, 0);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow:hidden;
    filter:blur(1px);
    scale: 2;
  }
  @keyframes rotation {
    0% {
      /* transform: rotate(0deg); */
      transform: translate(-10%, -5%) rotate(0deg);
    }
    25% {
      /* transform: rotate(359deg); */
      transform: translate(19%, 14%) rotate(90deg);
    }
    50% {
      transform: translate(10%, -15%) rotate(180deg);
    }
    75%{
      transform: translate(-5%, 10%) rotate(270deg);
    }
    100% {
      transform: translate(-10%, -5%) rotate(359deg);
    }
  }
  .fill-space {
    height: 100%;
    width: auto;
  }

  .Molecule-view{
    overflow: hidden;
    align-items: center;
    height: 80%;
  }

  .Molecule-view > img{
    overflow: auto;
    overflow-clip-margin: none;
    float: right;
  }

  .ContactList {
    background-color: white;
    box-shadow:
      1px 1px 3px rgba(0, 0, 0, 0.05),
      4px 4px 8px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }
  .ContactList > p {
    padding: 5px 15px;
    font-size: 13px;
  }
  .ContactList-title {
    border-bottom: 1px solid #f0f4fc;
    color: #777;
    font-size: 13px;
    font-weight: bold;
    line-height: 42px;
    margin: 0;
    padding: 5px 15px 0;
    text-transform: uppercase;
  }
  .ContactList > button {
    background-color: #12c8ba;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 10px 15px;
    padding: 10px 15px;
  }
  .ContactList-refresh {
    background-color: #bbb;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    top: 12px;
    transition: background-color 150ms ease-out;
  }
  .ContactList-refresh:hover {
    background-color: #dd3c6f;
  }
  .Contact-link{
    text-decoration: none;
    color: inherit;
    margin-top: 5px;
    display: block;
  }
  .Contact {
    border-bottom: 1px solid #f0f4fc;
    color: rgba(0, 0, 0, 0.73);
    font-family: Lato, sans-serif;
    padding: 7px 15px 10px;
  }
  .Contact-avatar {
    background-color: #8233ff;
    border-radius: 50%;
    color: white;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 3px 7px 0 0;
    position: relative;
    text-align: center;
    width: 32px;
  }
  .Contact-avatar > img {
    border-radius: 50%;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
  }
  .Contact-error {
    color: #dd3c6f;
    font-size: 13px;
  }
  .Contact-name {
    font-weight: bold;
  }
  .Contact > a {
    display: block;
    margin-top: 5px;
  }
  .Contact-actions {
    margin-left: 40px;
    margin-top: 10px;
  }
  .Contact-actions > button {
    background-color: #aaa;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    transition: background-color 150ms ease-out;
  }
  .Contact-actions > button:hover {
    background-color: #999;
  }
  .Contact-actions > .Contact-actions-edit:hover {
    background-color: #8233ff;
  }
  .Contact-actions > .Contact-actions-delete:hover {
    background-color: #dd3c6f;
  }
  
  .ContactForm {
    padding: 4px 15px 4px 54px;
  }
  .ContactForm > label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
  }
  .ContactForm > label > span {
    display: block;
    margin-bottom: 3px;
  }
  .ContactForm > label > input {
    font-size: 14px;
    padding: 4px 8px;
  }
  .ContactForm > button {
    background-color: #aaa;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 0 10px 10px 0;
    padding: 10px 15px;
  }
  .ContactForm > button.ContactForm-save-button {
    background-color: #12c8ba;
  }
  .ContactForm-error {
    margin: 4px 0;
    color: #dd3c6f;
  }